!!!
html
	head
		title My Reader
		link(rel="stylesheet", href="http://readerstatic.michael-als.dk/style.css")
	body
		div#menu
			div#addFeed
				input#newFeed
				button#addNewFeed Tilføj
		div#body
			div#controls
			div#news
script(src="http://readerstatic.michael-als.dk/jquery-1.9.1.min.js")
script(src="http://readerstatic.michael-als.dk/app.js")
